html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  padding: 20px;
  text-align: center;
  background-color: transparent;
  color: #fff;
}

.settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
}

label {
  display: inline-block;
  margin-right: 10px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

input[type="number"],
select,
input[type="range"] {
  padding: 5px;
  background-color: #333;
  color: #ddd;
  border: 1px solid #555;
  border-radius: 4px;
  width: auto;
}

input[type="range"] {
  cursor: pointer;
}

.button-container {
  position: relative;
  display: inline-block;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}

.background {
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: #007bff;
  bottom: -10px;
  left: 0;
  border-radius: 4px;
  border: 2px solid #333;
  z-index: 0;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.canvas-container {
  margin-bottom: 20px;
}

.stopping-criteria-message p {
  margin-top: 10px;
  color: #ffcc00;
}

.canvas-and-chart-container {
  position: relative;
}

.canvas-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.paintCanvas {
  max-width: 100%;
  max-height: 100%;
}

.color-counts {
  position: absolute;
  left: -25px;
  top: -12px;
  z-index: 3;
  background-color: transparent;
  border-radius: 4px;
  padding: 10px;
}

.color-counts table {
  font-size: 10px;
  margin: 0;
  width: 100%;
  height: auto;
}

.color-counts th,
.color-counts td {
  background-color: #000;
  border: 1px solid #555;
  padding: 5px;
  text-align: center;
}

.color-counts th {
  background-color: #000;
}

.color-swatch {
  width: 30px;
  height: 15px;
}

@media (min-width: 768px) {
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .form-group {
    flex: 1;
    margin-right: 10px;
  }

  .form-group:last-child {
    margin-right: 0;
  }
}

.config-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 0px;
  margin-bottom: 0px;
}
