html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.App {
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  text-align: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.control-panel {
  margin-bottom: 20px;
}

.settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
}

@media (min-width: 600px) {
  .settings-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .form-group {
    width: auto;
  }

  .form-group.stopping-criterion, .form-group.drop-speed {
    flex-basis: 100%;
  }
}

label {
  display: inline-block;
  margin-right: 10px;
}

input[type="number"], select, input[type="range"] {
  padding: 5px;
  background-color: #333;
  color: #ddd;
  border: 1px solid #555;
  border-radius: 4px;
  width: auto;
}

input[type="range"] {
  cursor: pointer;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.canvas-container {
  margin-bottom: 20px;
}

.stopping-criteria-message p {
  margin-top: 10px;
  color: #ffcc00;
}

.canvas-and-chart-container {
  position: relative;
}

.canvas-container {
  position: relative;
  z-index: 1;
}

.color-counts {
  position: absolute;
  left: -25px;
  top: -12px;
  z-index: 2;
  background-color: transparent;
  border-radius: 4px;
  padding: 10px;
}


.color-counts table {
  width: auto;
  font-size: 10px;
  margin: 0;
}

.color-counts th, .color-counts td {
  border: 1px solid #555;
  padding: 5px;
  text-align: center;
}

.color-counts th {
  background-color: #1c1c1c;
}

.color-swatch {
  width: 30px;
  height: 15px;
}

@media (min-width: 600px) {
  .settings-form {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .form-group {
    width: 200px;
  }
}
