@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  text-align: center;
  background-color: #282c34;
  color: #fff;
}

form {
  margin-bottom: 20px;
}

.settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .settings-form {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.form-group {
  margin: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  padding: 5px;
  background-color: #333;
  color: #ddd;
  border: 1px solid #555;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.grid {
  border: 1px solid #333;
  margin-top: 20px;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #555;
  transition: background-color 0.5s ease-in-out;
}

table {
  color: #fff;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #555;
  padding: 8px;
}

table th {
  background-color: #1c1c1c;
}

body {
  background-color: #121212;
}
