html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.Experiments {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
  padding: 20px;
  text-align: center;
  background-color: transparent;
  color: #fff;
}

.settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
}

label {
  display: inline-block;
  margin-right: 10px;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

input[type="number"],
select {
  padding: 5px;
  background-color: #333;
  color: #ddd;
  border: 1px solid #555;
  border-radius: 4px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.graph-container {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 50px;
  margin-bottom: 0px;
  height: 500px;
}

.graph-title {
  text-align: center;
  color: white;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
  background-color: #333;
  opacity: 0.9;
  table-layout: fixed;
}

.table-container th,
.table-container td {
  border: 1px solid #555;
  padding: 8px;
  text-align: left;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .table-container th,
  .table-container td {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .table-container th,
  .table-container td {
    font-size: 8px;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  font-size: 20px;
  z-index: 100;
}

.chart-container {
  position: relative;
}

.chart-container canvas {
  background-color: rgba(0, 0, 0, 0.9);
}

.chart-container .chartjs-chart {
  margin-bottom: 50px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.button-container button {
  margin: 0;
  padding: 10;
}
