* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.intro-animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.intro-animation p {
  font-size: 1.5em;
  line-height: 1.4;
}

.pixi-container {
  width: auto;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .intro-animation p {
    font-size: 1.2em;
  }

  .pixi-container {
    aspect-ratio: 16 / 9;
  }
}
