h1 {
  font-size: 2em;
  white-space: nowrap;
}

p {
  font-size: 1.5em;
  white-space: nowrap;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}

.intro-animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
  color: #fff;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.intro-text p {
  font-size: 1.2rem;
}
